doctype html
head
  include partials/head.pug
  link(rel='stylesheet' href='https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/style.css')
  link(rel='stylesheet' href='/stylesheets/facility.css')
  link(rel='stylesheet' href='/scripts/extensions/issues.css')
  script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/viewer3D.js')
  script(src='https://petrbroz.github.io/forge-viewer-utils/master/Utilities.js')
#container
  #header
    a(href="/")
      img(src='/images/forge-logo.png' alt='Autodesk Forge Industrial Construction Demo')
    h Industrial Construction Demo
  #viewer
  #location
    h5 Facility: #{facility}
    a(href="/") Back to Map
  #sidebar
    table#models.table.table-sm
    ul#sidebar-tabs.nav.nav-tabs.nav-fill.mb-3(role='tablist')
      li.nav-item
        a#realtime-tab.nav-link.active(data-toggle='tab' href='#realtime' role='tab' aria-controls='realtime' aria-selected='true') Realtime
      li.nav-item
        a#issues-tab.nav-link(data-toggle='tab' href='#issues' role='tab' aria-controls='issues' aria-selected='false') Issues
    #sidebar-tabs-content.tab-content
      #realtime.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='realtime-tab') Realtime content
      #issues.tab-pane.fade(role='tabpanel' aria-labelledby='issues-tab') Issues content
include partials/footer.pug
script(src='/scripts/extensions/issues.js')
script(src='/scripts/facility.js')
