doctype html
head
  include partials/head.pug
  link(rel='stylesheet' href='https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/style.css')
  link(rel='stylesheet' href='/stylesheets/facility.css')
  script(src='https://developer.api.autodesk.com/modelderivative/v2/viewers/6.*/viewer3D.js')
  script(src='https://petrbroz.github.io/forge-viewer-utils/master/Utilities.js')
#container
  #header
    a(href="/")
      img(src='/images/forge-logo.png' alt='Autodesk Forge Industrial Construction Demo')
    h Industrial Construction Demo
  #viewer
  #location
    h5 Facility: #{facility}
    a(href="/") Back to Map
  #sidebar
    table#models.table
include partials/footer.pug
script(src='/scripts/facility.js')
