doctype html
head
  include partials/head.pug
#container
  #header
    img(src='/images/forge-logo.png' alt='Autodesk Forge Industrial Construction Demo')
    h Industrial Construction Demo
  #viewer
  #sidebar
    include partials/sidebar.pug
  include partials/footer.pug
