#container {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr 1fr;
}

#header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#header > * {
    padding: 0.5em;
}

#header > a > img {
    height: 30px;
    box-sizing: content-box;
}

#header > h {
    font-size: 1.5em;
}

#location {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

#location > * {
    margin: 0 1em 0 0;
}

#viewer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    position: relative;
    margin: 0 1em 1em 0;
    box-shadow: 0 0 1em rgba(0,0,0,0.1);
    overflow: hidden;
}

#sidebar {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: scroll;
}

#models .model-area-select, #models .model-type-select {
    cursor: pointer;
}

#models .model-area-select:hover, #models .model-type-select:hover {
    text-decoration: underline;
}
